#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  background: skyblue;
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.dot {
  position: fixed;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}